<div class="jumbotron">
    <img src="/images/logo.png" class="center"/>
    <h1 class="text-center text-white">Welcome to Sudoku Collective</h1>
    <div class="col-md-12 text-center">
        <a href="/swagger/index.html"
            target="_self"
            title="Sudoku Collective API Documentation"
            class="btn btn-primary"
            role="button">API Documentation</a>
        <a href="https://github.com/Joseph-Anthony-King/SudokuCollective"
            target="_self"
            title="Sudoku Collective on Github"
            class="btn btn-primary"
            role="button">View Code on Github</a>
        <!-- link for the admin app which is a work in progress... -->
        <!--<a href="http://localhost:8080"
            target="_self"
            title="Sudoku Collective Admin Vue"
            class="btn btn-primary"
            role="button">Open Admin App</a>-->
    </div>
</div>