<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sudoku Collective - @ViewData["Title"]</title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">Sudoku Collective</a>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="footer-copyright text-right py-3">
                © Copyright <span id="year"></span>:
                <a href="https://www.linkedin.com/in/joseph-king-23650256/"
                   target="_blank"
                   title="LinkedIn Profile: Joseph Anthony King"> Joseph-Anthony-King</a>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
